<section class="bg-zinc-700 p-20 rounded-xl my-4 text-center">
  <h1 class="text-5xl font-bold my-5">About Us</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto sed
    repellendus officia perferendis fugiat velit eligendi consequatur
    voluptatibus, accusamus eos iure voluptate voluptatum perspiciatis rem,
    quibusdam commodi laudantium odit ab?
  </p>
</section>
